<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Thân gửi {{ name }},</p>
    <p>Mã thay đổi mật khẩu của bạn là: <strong>{{ code }}</strong></p>

  
</body>
</html>

